In [81]:
# importing the pandas libraray
import pandas as pd

In [82]:
# reading the titanic file
df = pd.read_csv('Titanic.csv')

In [83]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [84]:
# Getting summary of the the dataframe (colums datatypes , not null counts , memory usage etc)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [85]:
# Dropping not neccesary columns
# axis = 1 means we want to drop the column
# axis = 0 means drop the row
df =df.drop(["PassengerId","Name","Ticket","Fare","Cabin","Embarked"],axis=1)

In [86]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch
0           0       3    male  22.0      1      0
1           1       1  female  38.0      1      0
2           1       3  female  26.0      0      0
3           1       1  female  35.0      1      0
4           0       3    male  35.0      0      0
..        ...     ...     ...   ...    ...    ...
886         0       2    male  27.0      0      0
887         1       1  female  19.0      0      0
888         0       3  female   NaN      1      2
889         1       1    male  26.0      0      0
890         0       3    male  32.0      0      0

[891 rows x 6 columns]

In [87]:
# getting the target varaible 
# Target variable is what you r trying to find out or predict like survival here
y=df["Survived"]
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [88]:
# getting the features (drop the target variable)
# features help you make the prediction 

X = df.drop("Survived",axis=1)
X

     Pclass     Sex   Age  SibSp  Parch
0         3    male  22.0      1      0
1         1  female  38.0      1      0
2         3  female  26.0      0      0
3         1  female  35.0      1      0
4         3    male  35.0      0      0
..      ...     ...   ...    ...    ...
886       2    male  27.0      0      0
887       1  female  19.0      0      0
888       3  female   NaN      1      2
889       1    male  26.0      0      0
890       3    male  32.0      0      0

[891 rows x 5 columns]

In [89]:
X.info()
# Age column has some missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    object
 2   Age     714 non-null    float64
 3   SibSp   891 non-null    int64
 4   Parch   891 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 34.9+ KB

In [90]:
X["Age"]=X["Age"].fillna(X["Age"].mode()[0])
# X[""].mode -> calculates the most frequent value of the column
# mode()[0] -> ensures we are accessing the mode value itself
# .fillna -> fills the missing values the node value

In [91]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    object
 2   Age     891 non-null    float64
 3   SibSp   891 non-null    int64
 4   Parch   891 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 34.9+ KB

In [92]:
# The sex column has some categorical value (words)
# Converting into numerical value as machine learning works better with numbers

X = pd.get_dummies(X,columns=["Sex"],drop_first=True)

# get_dummies -> adds a new column which will create the dummy values
# frop_first -> drops the first category , like representing male with 1 and if its not a male its a female

In [93]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Age       891 non-null    float64
 2   SibSp     891 non-null    int64
 3   Parch     891 non-null    int64
 4   Sex_male  891 non-null    bool
dtypes: bool(1), float64(1), int64(3)
memory usage: 28.8 KB

In [94]:
X.head()

   Pclass   Age  SibSp  Parch  Sex_male
0       3  22.0      1      0      True
1       1  38.0      1      0     False
2       3  26.0      0      0     False
3       1  35.0      1      0     False
4       3  35.0      0      0      True

In [95]:
# Spliting the data into training and testing subset
from sklearn.model_selection import train_test_split

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=40, random_state=43, stratify=y)

# X -> features
# y -> target variable
# X_train -> data that will be used to train the comp.
# X_test -> data that will be used to test the comp.
# y_train -> prediction fro training data
# y_test -> prediction for testing data
# test_size -> no. of rows given for testing rest is used for training 
# random_state=43 -> ensuring the result is consistent
# stratify=y -> both the training and testing sets have the same proportions

In [97]:
# Doing feature scaling on the features so that they are bw a specific range (this improves the performace of the algo)
from sklearn.preprocessing import MinMaxScaler

In [98]:
# Creating an instance of MinMacScaler class 
scaler = MinMaxScaler()

In [99]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# fit -> learns the scaling parameters from the data provided
# transform -> applies the learned scaling parameters

In [100]:
# Importing SVM
from sklearn.svm import SVC

# svc = support vector classifier

In [101]:
# Creating an instance of SVC class
model = SVC(kernel="poly",degree=6)

# When the data points are not easily seperateable the kernel transforms them into higher dimensional space where they get seperated by a hyperplane

In [102]:
# Training the model
model.fit(X_train,y_train)

SVC(degree=6, kernel='poly')

In [103]:
# Getting the accuracy 
model.score(X_train,y_train)

0.8331374853113983

In [104]:
# Creating a sample dataframe for prediction
data = pd.DataFrame({
    "Pclass": [3],    
    "Age": [30],      
    "SibSp": [1],      
    "Parch": [0],     
    "Sex_male": [1]   
})

In [105]:
data

   Pclass  Age  SibSp  Parch  Sex_male
0       3   30      1      0         1

In [106]:
# Scaling the sample dataframe
scaled_data = scaler.transform(data)

In [107]:
# Making preictions
model.predict(scaled_data)

array([0], dtype=int64)